{% if site.coding_comments.user %}
<!-- coding_comments 公共JS代码 start (一个网页只需插入一次) -->
<link rel="stylesheet" href="//dn-coding-net-public-file.qbox.me/Coding-Comments/latest/default.css">
<script type="text/javascript" src="//dn-coding-net-public-file.qbox.me/Coding-Comments/latest/gitment.min.js"></script>

<script type="text/javascript">
    var clientId = "{{site.coding_comments.oauth.client_id}}"
    var clientSecret = "{{site.coding_comments.oauth.client_secret}}"
    var gitment = new Gitment({
      owner: "{{site.coding_comments.user}}",
      repo: "{{site.coding_comments.project}}",
      oauth: {
        client_id: clientId,
        client_secret: clientSecret,
      },
    })
    document.getElementById('coding_comments_thread').appendChild(gitment.render())
</script>
<!-- coding_comments 公共JS代码 end -->
{% endif %}