{% if site.gitment.repo %}
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://blog.scfhao.cn/css/gitment.css">
<script src="https://blog.scfhao.cn/js/gitment.js"></script>
<script>
    var gitment = new Gitment({
        id: '<%= page.date %>',
        owner: '{{site.gitment.githubID}}',
        repo: '{{site.gitment.repo}}',
        oauth: {
            client_id: '{{site.gitment.ClientID}}',
            client_secret: '{{site.gitment.ClientSecret}}',
        },
    });
    gitment.render('gitmentContainer')
</script>
{% endif %}